body
{
    font-family: "Roboto", sans-serif;
}

.header
{
    display: flex;
    align-items: center;
    background-color: #1f2937;
    justify-content: space-between;
    padding: 16px 32px;
}

.hero
{
    background-color: #1f2937;
}

.title
{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.logo
{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.links
{
    display: flex;
    gap: 16px;
}

ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

a
{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}