/*
Name: Joshua Simpers
Date: Oct-29th-2024
Assignment: Recreate a webpage layout from scratch based on the given reference picture and style settings
File Name: Style.css
*/
body
{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
}

/*shared settings between multiple classes*/
.header, .hero, .footer
{
    background-color: #1f2937;
}

.logo, .title, .text, button, .footer
{
    color: #f9faf8;
}

.logo, .signature, .modal-title
{
    font-size: 24px;
    font-weight: 900;
}

a, .image, .secondary-text, .subtext, button
{
    color: #e5e7eb;
}

a, .secondary-text
{
    font-size: 18px;
}

.title, .information-title
{
    font-weight: 900;
}

.quote, .subtext
{
    font-weight: lighter;
}

button, .modal
{
    background-color: #3882f6;
}

button, .square, .modal
{
    border-radius: 8px;
}

.header, .links, .hero, .page-content, .information-title, .information-pieces, .info-square, .quote, .signature, .modal, .footer
{
    display: flex;
}
/*shared settings ends*/

/*header and hero css starts*/
.header
{
    align-items: flex-start;
    justify-content: space-between;
    padding: 16px 64px;
}

.links
{
    gap: 16px;
}

ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

a
{
    text-decoration: none;
}

.hero
{
    justify-content: space-between;
    padding: 64px;
    gap: 48px;
}

.image
{
    background-color: gray;
    padding: 64px;
}

.title
{
    font-size: 48px;
}

button
{
    padding: 6px 16px;
}

.button-one
{
    border: 0;
}
/*header and hero css ends*/

/*content section begins*/
.page-content
{
    flex-direction: column;
    gap: 64px;
}

/*information section within the content begins*/
.information-title
{
    justify-content: center;
    font-size: 36px;
    padding: 24px;
}

.information-pieces
{
    justify-content: center;
    gap: 64px;
}

.square
{
    width: 200px;
    height: 200px;
    border-color: #3882f6;
    border-width: 3px;
    border-style: solid;
}

.info-square
{
    flex-direction: column;
    max-width: 200px;
}
/*information section within the content ends*/

/*quote section within the content begins*/
.quote
{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    flex-direction: column;
    background-color: #e5e7eb;
    align-items: center;
    padding: 64px 256px;
}

.signature
{
    align-self: flex-end;
    font-style: normal;
}
/*quote section within the content ends*/

/*modal section within the content begins*/
.modal
{
    max-width: 1000px;
    max-height: 200px;
    justify-content: space-between;
    padding: 24px 48px;
    align-items: center;
    gap: 64px;
    align-self: center;
}

.button-two
{
    border-style: solid;
    border-color: #f9faf8;
    border-width: 1;
}
/*modal section within the content ends*/

/*footer section within the content begins*/
.footer
{
    align-content: center;
    justify-content: center;
    padding: 24px;
    align-items: flex-end;
}
/*footer section within the content ends*/
/*content section ends*/