body
{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
}

.header
{
    display: flex;
    align-items: center;
    background-color: #1f2937;
    justify-content: space-between;
    padding: 16px 64px;
}

.hero
{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 64px;
    gap: 48px;
}

.image
{
    background-color: gray;
    color: #e5e7eb;
    padding: 64px;
}

.secondary-text
{
    font-size: 18px;
    color: #e5e7eb;
}

.title
{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.logo
{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.links
{
    display: flex;
    gap: 16px;
}

ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

a
{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

button
{
    background-color: #3882f6;
    color: #f9faf8;
    padding: 6px 16px;
    border-radius: 8px;
}

.information-title
{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    padding: 24px;
}

.information-pieces
{
    display: flex;
    justify-content: center;
    gap: 64px;
}

.square
{
    width: 200px;
    height: 200px;
    border-color: #3882f6;
    border-radius: 8px;
    border-width: 3px;
    border-style: solid;
}

.info-square
{
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.quote
{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    align-items: center;
    padding: 64px 256px;
}

.signature
{
    display: flex;
    align-self: flex-end;
    font-style: normal;
    font-size: 24px;
    font-weight: 900;
}

.modal
{
    display: flex;
    background-color: #3882f6;
    max-width: 1000px;
    max-height: 200px;
    justify-content: space-between;
    padding: 24px 48px;
    border-radius: 8px;
    align-items: center;
    gap: 64px;
    align-self: center;
}

.text
{
    color: #f9faf8;
}

.modal-title
{
    font-size: 24px;
    font-weight: 900;
}

.subtext
{
    color: #e5e7eb;
    font-weight: lighter;
}

.button-two
{
    border-style: solid;
    border-color: #f9faf8;
    border-width: 1;
}

.button-one
{
    border: 0;
    border-style: solid;
    border-color: #3882f6;
}

.footer
{
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    align-items: center;
    justify-content: center;
}